:root {
    --dark-bg: #0f0f0f;
    --dark-text: #e3e3e3;
    --dark-alt-bg: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: var(--dark-bg);
        --text-color: var(--dark-text);
        --alt-bg-color: var(--dark-alt-bg);
    }
}

[data-theme="dark"] {
    --bg-color: var(--dark-bg);
    --text-color: var(--dark-text);
}
