:root {
    --dark-bg: #121212;
    --dark-text: #f5f5f5;
    --dark-alt-bg: #434343;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: var(--dark-bg);
        --text-color: var(--dark-text);
        --alt-bg-color: var(--dark-alt-bg);
    }
}

[data-theme="dark"] {
    --bg-color: var(--dark-bg);
    --text-color: var(--dark-text);
}
