@import "tailwindcss";
@plugin "daisyui" {
    themes: all;
}

:root {
    --font-scale: 1;
    --base-size: calc(1rem * var(--font-scale));
}

body {
    font-size: clamp(0.5rem, var(--base-size), 3rem);
    line-height: 1.5;
}
