:root {
    --menu-width: 250px;
    --transition-speed: 0.3s;
}

.menu-toggle {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 100;
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}

.menu {
    background-color: var(--alt-bg-color);
    position: fixed;
    top: 0;
    right: 0;
    width: var(--menu-width);
    height: 100vh;
    padding-top: 60px;
    transform: translateX(100%);
    transition: transform var(--transition-speed) ease-in-out;
    z-index: 90; /* Positions under the menu icon */
}

.menu.open {
    transform: translateX(0);
}

main {
    flex-grow: 1;
    transition: margin-right var(--transition-speed) ease-in-out;
}

body:has(.menu.open) main {
    margin-right: var(--menu-width);
}

.header ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    gap: 1.5rem;
    overflow: hidden;
}

.header a {
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    color: inherit;
}

.header li {
    float: left;
}

.header li {
    float: left;
}

.menu ul {
    list-style-type: none;
    float: right;
}
