---

---

<nav id="header" class="header">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts">Blog</a></li>
        <li><a href="/resources">Learning Resources</a></li>
        <li><a href="/projects">Projects</a></li>
        <li class="margin-right">
            <button
                class="menu-toggle"
                aria-label="Toggle Menu"
                aria-controls="menu"
                aria-expanded="false"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    class="bi bi-list"
                    viewBox="0 0 16 16"
                >
                    <path
                        fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
                    ></path>
                </svg>
            </button>
        </li>
    </ul>
</nav>
<aside id="menu" class="menu">
    <nav>
        <ul>
            <li>
                <label for="theme-selection">Theme:</label>
                <select id="theme-selection" name="themes">
                    <option value="light">Light</option>
                    <option value="dark">Dark</option>
                    <option value="solarized">Solarized</option>
                </select>
            </li>
        </ul>
    </nav>
</aside>
