---

---

<html lang="en">
    <head> </head>
    <body>
        <h1>Astro</h1>
        <p>Todo</p>
        <button data-theme-btn="light">Light</button>
        <button data-theme-btn="dark">Dark</button>
        <button data-theme-btn="solarized">Solarized</button>
        <br />
        <div class="font-controls">
            <button id="decrease-font" aria-label="Decrease font size"
                >A-</button
            >
            <button id="reset-font" aria-label="Reset font size">Reset</button>
            <button id="increase-font" aria-label="Increase font size"
                >A+</button
            >
        </div>

        <p>
            asdfkasd;lfkjasdf;oiajsf;lkasjdf;lkajsd
            <br />
            asdflkjasdfienwfkasndflkasjdf;lkasjdf al;ksdjf;laskdfji
            <br />
            ASDFASDFIJDSFLKJAS;LVKNAISDFJIASDJFKSADFJN
        </p>
    </body>
</html>
